.footer__wrapper {
  width: 1160px;
  margin: auto;
  @media (max-width: 1240px) {
    width: 100%;
  }
}
.footer {
  box-sizing: border-box;
  padding-top: 100px;
  width: 100%;
  background-color: #0E0E33;
  // .footer__top
  &__top {
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1240px) {
      display: block;
      margin: auto;
      text-align: center;
    }
    // .footer__top_txt
    &_txt {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      color: #fff;
      @media (max-width: 1240px) {
        font-size: 21px;
        padding-bottom: 15px;
      }
    }
  }

  // .footer__content
  &__content {
    width: 100%;
    flex-wrap: wrap;
    // .footer__content_list
    &_list {
      margin-top: 150px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1240px) {
        display: block;
        text-align: center;
      }
    }

    // .footer__content_item
    &_item {
      width: 33%;
      box-sizing: border-box;
      @media (max-width: 1240px) {
        width: inherit;
        margin: auto;
        padding-bottom: 40px;
        text-align: center;
      }
    }

    // .footer__content_item_title
    &_item_title {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding-bottom: 20px;
    }

    // .footer__content_item_card
    &_item_card {
      align-items: center;
      width: 320px;
      height: 50px;
      display: flex;
      margin: auto;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    // .footer__content_item_card_name
    &_item_card_name {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 28px;
      color: #FFFFFF;
    }
  }

  // .footer__bottom
  &__bottom {
    padding-top: 10px;
    height: 64px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-bottom: 31px;
    align-items: flex-end;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    @media (max-width: 800px) {
      height: inherit;
      margin-top: 50px;
      display: block;
      text-align: center;
    }
    // .footer__bottom_list
    &_list {
      width: 325px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 800px) {
        box-sizing: border-box;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        text-align: center;
        margin: auto;
      }
    }

    // .footer__bottom_item
    &_item {
      padding-left: 20px;
      padding-right: 20px;
      @media (max-width: 800px) {
        line-height: 35px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}